{
	admin off
	auto_https off
}

http://dwar.dadi {
	reverse_proxy dwar:8080
}

http://yaad.dadi {
	reverse_proxy yaad:8080
}

http://dimaag.dadi {
	reverse_proxy dimaag:8080
}

http://nas.dadi {
	reverse_proxy nas-service:8080
}
