[Unit]
After=headscale.service
Requires=headscale.service

[Container]
Image=ghcr.io/dadi-os/nas-service:latest
ContainerName=bootstrap
Network=dadi.network
Entrypoint=/bin/sh
Exec=/bootstrap.sh
Volume=/usr/share/dadi/bootstrap.sh:/bootstrap.sh:ro
Volume=/etc/headscale/config.yaml:/etc/headscale/config.yaml:ro
Volume=headscale_data.volume:/var/lib/headscale
Volume=headscale_run.volume:/var/run/headscale
Volume=bootstrap.volume:/run/bootstrap
AutoUpdate=registry

[Service]
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
