[Unit]
After=dwar.service yaad.service dimaag.service nas-service.service
Wants=dwar.service yaad.service dimaag.service nas-service.service

[Container]
Image=caddy:2-alpine
ContainerName=caddy
Network=dadi.network
NetworkAlias=dwar.dadi
NetworkAlias=yaad.dadi
NetworkAlias=dimaag.dadi
NetworkAlias=nas.dadi
Volume=/etc/dadi/Caddyfile:/etc/caddy/Caddyfile:ro
PublishPort=80:80

[Service]
Restart=always

[Install]
WantedBy=multi-user.target
