[Unit]
After=dadi-seed.service
Requires=dadi-seed.service

[Container]
Image=postgres:18
ContainerName=dimaag-postgres
Network=dadi.network
Environment=POSTGRES_USER=dimaag
Environment=POSTGRES_DB=dimaag
Environment=POSTGRES_PASSWORD=dimaag
Volume=dimaag_pg.volume:/var/lib/postgresql
HealthCmd=pg_isready -U dimaag -d dimaag
HealthInterval=2s
HealthTimeout=5s
HealthRetries=20

[Service]
Restart=always

[Install]
WantedBy=multi-user.target
