[Container]
Image=headscale/headscale:0.26
ContainerName=headscale
Network=dadi.network
Exec=serve
Volume=/etc/headscale/config.yaml:/etc/headscale/config.yaml:ro
Volume=headscale_data.volume:/var/lib/headscale
Volume=headscale_run.volume:/var/run/headscale
PublishPort=8080:8080

[Service]
Restart=always

[Install]
WantedBy=multi-user.target
