[Container]
Image=grafana/loki:3.4.2
ContainerName=loki
Network=dadi.network
Exec=-config.file=/etc/loki/config.yaml
Volume=/etc/dadi/loki-config.yaml:/etc/loki/config.yaml:ro
Volume=loki_data.volume:/loki

[Service]
Restart=always

[Install]
WantedBy=multi-user.target
