[Desktop Entry]
Type=Application
Name=Preferences
Name[gu]=પસંદગીઓ
GenericName=dadi module settings
Comment=Configure users, dwar, chaavi, devices, and desktop
Exec=dadi-preferences
Icon=dadi
Categories=Settings;System;
StartupNotify=true
Terminal=false
