[Unit]
Description=Loki log store
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStartPre=/usr/bin/mkdir -p /var/lib/loki/chunks /var/lib/loki/rules /var/lib/loki/compactor
ExecStart=/usr/local/bin/loki -config.file=/etc/dadi/loki-config.yaml
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
