{
	admin off
	auto_https off
}

http://dwar.dadi {
	reverse_proxy 127.0.0.1:8081
}

http://yaad.dadi {
	reverse_proxy 127.0.0.1:8082
}

http://dimaag.dadi {
	reverse_proxy 127.0.0.1:8083
}

http://nas.dadi {
	reverse_proxy 127.0.0.1:8092
}
